**/.github
**/.claude
**/.idea
**/node_modules
**/playwright-report
**/test
**/tests
**/test-assets
**/test-results
**/tests-*
scripts
**/logs
**/docs
.svelte-kit
**/.playwright-mcp
src-tauri/**
!src-tauri/icons
tauri-plugin-hillview/android/
tauri-plugin-hillview/target/
