**/.aider*
**/.#.env
**/.env
**/venv
**/__pycache__/
**/yolov5su.pt
**/.playwright-mcp/
**/.dev_intention
**/chromedriver
**/secrets
frontend/src-tauri/gen/
backend/worker/models/
backend/worker/Ultralytics/
backend/uploads/
