[Unit]
Description=hillview timer

[Timer]
AccuracySec=50s
OnBootSec=1000s
OnUnitActiveSec=30m
Unit=hillview.service

[Install]
WantedBy=timers.target


