[Unit]
Description=hillview timer

[Timer]
AccuracySec=50s
OnBootSec=200s
OnUnitActiveSec=1m
Unit=hillview.service

[Install]
WantedBy=timers.target


