<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">


    <!-- Required for background uploads -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Required for camera access -->
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- Required for accessing photos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
            android:usesCleartextTraffic="true"
            tools:replace="android:usesCleartextTraffic">
        <!-- you can keep other attributes/components here -->
    </application>

</manifest>
