JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
API_JWT_PUBLIC_KEY=""


PARALLEL_PROCESSING_CONCURRENCY=20
PARALLEL_PROCESSING_START_DELAY=0.1

MAX_IMAGE_PIXELS=10000000000
MAX_IMAGE_WIDTH=300000
MAX_IMAGE_HEIGHT=30000
MAX_FILE_SIZE=10000000000
